#header
{
  opacity: .7;
  align-content: center;
  margin: -5px auto 20px -8px;
  padding-bottom: 25px;
  padding-top: 25px;
  align-content: center;
  width: auto;
  font-size: 68px;
  border-bottom: 2px solid #d0d0d0;
}

#navbar
{
  width: auto;
}

#sidebar
{
  background-color:white;
  align-content: center;
  position: absolute;
  width: 30%;
  height: 100%;
  margin-top: 2%;
}

#mainpage {
  background: white;
  margin-left: 40%;
  position: absolute;
  padding-left: 20px;
  width: 49%;
  margin-top: 2%;
  height: 100%;
}